<script>
  $('.carousel').carousel()
</script>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 120px;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="18"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag 'banner1.jpeg', class: "d-block w-100", alt: "Third slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner2.jpeg', class: "d-block w-100", alt: "Fourth slide"%>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner4.jpeg', class: "d-block w-100", alt: "Seven slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner5.jpeg', class: "d-block w-100", alt: "Nine slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner6.jpeg', class: "d-block w-100", alt: "Tenth slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner7.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner13.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner10.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner12.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner3.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner14.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner15.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner16.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
    <div class="carousel-item">
      <%=image_tag 'banner18.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
        <div class="carousel-item">
      <%=image_tag 'banner19.jpeg', class: "d-block w-100", alt: "Thirteenth slide" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



