
<div class="container">

  <ul class="logogrid">
    <li class="logogrid__item">
      <%=image_tag("sonos.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("ld.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("polk.png", width: "170", height:"75", class: "friend-logo" )%>

    </li>
    <li class="logogrid__item">
      <%=image_tag("osd.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("elite.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("sen.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("onkyo.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("adamhall.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("gravity.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("shure.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("sound.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("bose.png", width: "300", height:"135", class: "friend-logo" )%>
    </li>
  </ul>

</div>
