
<div class="container">

  <ul class="logogrid">
    <li class="logogrid__item">
      <%=image_tag("sonos.png", width: "152", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("ldsystems.jpg", width: "102", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("polk.png", width: "152", height:"75" )%>

    </li>
    <li class="logogrid__item">
      <%=image_tag("quik.png", width: "152", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("prolok.jpg", width: "152", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("osd.gif", width: "152", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("es.png", width: "152", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("sonos.png", width: "152", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("ldsystems.jpg", width: "102", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("polk.png", width: "152", height:"75" )%>

    </li>
    <li class="logogrid__item">
      <%=image_tag("quik.png", width: "152", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("prolok.jpg", width: "152", height:"75" )%>
    </li>


    <!-- <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logogrid__img" alt="Netflix">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" class="logogrid__img" alt="Nike">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logogrid__img" alt="Netflix">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" class="logogrid__img" alt="Nike">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logogrid__img" alt="Netflix">
    </li> -->
  </ul>

</div>
