
<div class="container">

  <ul class="logogrid">
    <li class="logogrid__item">
      <%=image_tag("sonos.png", width: "170", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("ldsystems.jpg", width: "102", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("polk.png", width: "170", height:"75" )%>

    </li>
    <li class="logogrid__item">
      <%=image_tag("quik.png", width: "170", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("prolok.jpg", width: "170", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("osd.gif", width: "170", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("es.png", width: "170", height:"150" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("sonos.png", width: "170", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("marca1.png", width: "172", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("marca2.png", width: "170", height:"75" )%>

    </li>
    <li class="logogrid__item">
      <%=image_tag("marca3.jpg", width: "170", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("marca4.png", width: "170", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("marca5.jpg", width: "170", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("marca6.png", width: "170", height:"75" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("marca7.png", width: "170", height:"75" )%>
    </li>

    <!-- <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logogrid__img" alt="Netflix">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" class="logogrid__img" alt="Nike">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logogrid__img" alt="Netflix">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" class="logogrid__img" alt="Nike">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logogrid__img" alt="Netflix">
    </li> -->
  </ul>

</div>
