
<div class="container">

  <ul class="logogrid">
    <li class="logogrid__item">
      <a href="https://www.sonos.com/en-us/home">
      <%=image_tag("sonos.png", width: "170", height:"75", class: "friend-logo" )%></a></a>
    </li>
    <li class="logogrid__item">
      <a href="https://www.ld-systems.com/">
      <%=image_tag("ld.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://www.polkaudio.com/">
      <%=image_tag("polk.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://www.bose.com/en_us/index.html">
      <%=image_tag("bose.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://www.elitescreens.com/">
      <%=image_tag("elite.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://en-us.sennheiser.com/">
      <%=image_tag("sen.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://www.onkyo.com/">
      <%=image_tag("onkyo.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://www.adamhall.com/">
      <%=image_tag("adamhall.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="">
      <%=image_tag("gravity.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://es.shure.com/">
      <%=image_tag("shure.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://www.soundcraft.com/en">
      <%=image_tag("sound.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://www.osdaudio.com/">
      <%=image_tag("osd.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="https://www.harmankardon.com/">
      <%=image_tag("harman.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
        <li class="logogrid__item">
      <a href="https://www.qsc.com/">
      <%=image_tag("qsc.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>

    <li class="logogrid__item">
      <a href="https://www.jbl.com/">
      <%=image_tag("jbl.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
        <li class="logogrid__item">
      <a href="https://www.crownaudio.com/en">
      <%=image_tag("crown.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
        <li class="logogrid__item">
      <a href="https://www.teac-usa.com/">
      <%=image_tag("teac.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
        <li class="logogrid__item">
      <a href="https://www.akg.com/">
      <%=image_tag("akg.png", width: "170", height:"75", class: "friend-logo" )%></a>
    </li>
    <li class="logogrid__item">
      <a href="">
      <%=image_tag("santaclara.png", width: "190", height:"85", class: "friend-logo" )%></a>
    </li>
  </ul>
</div>
