
<div class="container">

  <ul class="logogrid">
    <li class="logogrid__item">
      <%=image_tag("sonos.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("ld.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("pol.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("osd.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("elitescreen.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("senh.png", width: "172", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("onkyo.png", width: "170", height:"75", class: "friend-logo" )%>

    </li>
    <li class="logogrid__item">
      <%=image_tag("adamhall.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("gravity.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("shure.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>
    <li class="logogrid__item">
      <%=image_tag("soundcraft.png", width: "170", height:"75", class: "friend-logo" )%>
    </li>


    <!-- <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logogrid__img" alt="Netflix">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" class="logogrid__img" alt="Nike">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logogrid__img" alt="Netflix">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" class="logogrid__img" alt="Nike">
    </li>
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" class="logogrid__img" alt="Netflix">
    </li> -->
  </ul>

</div>
