<div class="container section-header">
  <h2 class="h1"> Productos Destacados </h2>
  <hr>

  <!-- Carousel Wrapper -->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!-- Controls -->
    <div class="controls-top" >
      <a class="btn-floating waves-effect waves-light" href="#multi-item-example" data-slide="prev">
        <i class="fas fa-chevron-left fa-3x"></i>
      </a>
      <a class="btn-floating waves-effect waves-light" href="#multi-item-example" data-slide="next">
        <i class="fas fa-chevron-right fa-3x"></i>
      </a>
    </div>
    <!-- Controls -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="primary-color active" data-target="#multi-item-example" data-slide-to="0"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!-- Indicators -->

    <!-- Slides -->
    <div class="carousel-inner" role="listbox">
      <!-- First slide -->
      <div class="carousel-item active">
        <div class="col-md-4 mb-2">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("bose1.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Sistema Portables con Bateria</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">BOSE S1</a>
                </strong>
              </h4>
              <!-- Description -->

              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">BOSE S1, el PA multiposición mas pequeño del mercado, disponibles desde el lunes 16 de abril, unidades limitadas. Características: 2 entradas Canon/Plug y conexión bluetooth.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("maui5.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Sistema Ultra Compacto Activo</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Maui5</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">El MAUI 5, con un peso de unos 11 kg, potencia de pico de 800 W y SPL máximo de 120 dB, es un sistema ultracompacto de PA y monitorado todo en uno. Gracias a sus conectores multipin especiales y 4 componentes, el array más pequeño de la serie MAUI se monta en cuestión de segundos, ofreciendo además un amplio ángulo de cobertura y un excelente rechazo a la realimentación acústica. El MAUI 5 es fácil de transportar y cabe perfectamente en cualquier vehículo.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("satg2series.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Altavoces</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">SAT G2 SERIES</a>
                </strong>
              </h4>
              <!-- Description -->

              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Ya sea como altavoz full range en pequeñas instalaciones (cafés, bares y tiendas de moda) o como satélite combinado con un potente subwoofer, los altavoces de instalación de LD Systems son ideales para el ámbito profesional y también como elegantes soluciones de audio doméstico. Una caja de DM resistente, una alta durabilidad y un excelente acabado completan su diseño. Estos monitores universales se suministran con soportes de montaje y con puntos de volado ajustables que garantizan una instalación óptima. Gracias a la rejilla frontal extraíble con fijación magnética puede cambiarse su aspecto rápidamente.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      </div>
      <!-- First slide -->
      <!-- Second slide -->
      <div class="carousel-item">
        <div class="col-md-4 mb-2">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("vibzseries.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Mesas de Mezcla</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Vibz Series</a>
                </strong>
              </h4>
              <!-- Description -->

              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Con la serie VIBZ, LD Systems introduce una gama de mesas de mezclas que incluyen todo lo necesario para conseguir un buen sonido y unas prestaciones profesionales. Entre las funciones se incluyen canales de entrada micro/línea balanceados electrónicamente con XLR y jacks estéreo y alimentación fantasma, canales de entrada estéreo dedicados con función mono, ecualizador musical especialmente diseñado y envío y retorno de efectos.

Además, las mesas de mezclas de la serie VIBZ están equipadas con entradas y salidas RCA estéreo para reproducir música ya grabada o grabar su actuación, salidas de control de monitorado, y ofrecen una excelente respuesta en frecuencia de 10 Hz a 45 kHz. Algunos modelos incorporan un compresor y un procesador de efectos digital de 24 bits controlable por pedal. Las mesas de mezclas VIBZ de LD Systems son una opción asequible para directos, instalaciones fijas y aplicaciones semiprofesionales de grabación. Hay disponible un adaptador para pie de micrófono para los mezcladores de 6, 8 y 10 canales.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("u500series.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Microfonia Corporativa</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">U 500 Series</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Los sistema inalámbricos para conferencias de la serie U500® cumplen las expectativas en cuanto a sonido de primera calidad, fiabilidad y comodidad de uso. Gracias a una búsqueda automática de canales, a la cómoda opción de sincronización por infrarrojos y a menús intuitivos en pantallas OLED, muy fáciles de leer con visualización de la duración restante de la batería e indicación del nombre del usuario, estos sistemas inalámbricos UHF True Diversity están listos para usar en un instante. El sistema para conferencias U500® puede ampliarse a un máximo de 20 terminales para oradores y garantiza una comunicación eficaz con una excelente inteligibilidad vocal.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("maui44.png", width: "338", height:"226")%>

              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Sistemas Activos Columna</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Maui44</a>
                </strong>
              </h4>
              <!-- Description -->

              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">El MAUI 44 de LD Systems es el buque insignia de la gama MAUI que ofrece una impresionante potencia de 1.600 W RMS, un rango de frecuencias de 40 Hz a 20 kHz y un SPL de 129 dB pico. Pensado principalmente para músicos, DJs, solistas e instalaciones fijas, el compacto PA de columna ofrece una reproducción de sonido excepcional y un conjunto de funciones muy completo.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      </div>
      <!-- Second slide -->
      <!--Third slide -->
      <div class="carousel-item">
        <div class="col-md-4 mb-2">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("maui1128.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Sistemas Compacto Columna Activos</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Maui 11 G2 & 28 G2</a>
                </strong>
              </h4>
              <!-- Description -->

              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">El array MAUI activo de LD Systems es una solución integral de PA muy compacta: se puede transportar fácilmente, se monta enseguida y su estilo discreto se integra perfectamente en cualquier ambiente. El array vertical, el procesado digital de señales y la amplificación y separación de frecuencias independiente implementada con distintas etapas de potencia ofrece un ángulo de cobertura muy amplio con una distribución uniforme del sonido en la sala. Con sus impresionantes prestaciones de audio y facilidad de manejo, el sistema de PA LD MAUI es ideal para multitud de aplicaciones.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("ldva8.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Sistemas Touring</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Line Array Series LD VA8 & LD VA4</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">La serie Premium Array no solo se caracteriza por su diseño compacto fácil de transportar, sino que además ofrece una excelente relación calidad-precio. En particular, para reproducir las frecuencias bajas, nuestros line arrays se complementan con los subwoofers de LD Systems, como el subwoofer pasabanda con filtrado de 4.º orden o el subwoofer bass reflex doble. Accesorios como la estructura de volado con certificación BGVC1, el controlador DSP, las aplicaciones de software y las soluciones de transporte personalizadas completan el equipamiento necesario para el profesional.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("ldarray.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Soluciones Corporativas</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Microfono</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Los micrófonos y accesorios de micrófono están disponibles en varias configuraciones para todo tipo de aplicaciones profesionales: para el escenario, el estudio y, en general, donde se necesite captar la voz y los instrumentos de manera clara y precisa. La gama incluye micrófonos de voz dinámicos, micrófonos de condensador y micrófonos para batería e instrumento de viento, así como micrófonos USB para grabaciones de podcast o domésticas. Los micrófonos de LD Systems ofrecen una cancelación óptima de la realimentación acústica y se caracterizan por un sonido muy natural y una amplia respuesta en frecuencia. Para completar la gama, se incluyen distintos accesorios como soportes de micrófono en distintos modelos, bolas antiviento o flexos.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      </div>
      <!--Third slide -->
            <!--Third slide -->
      <div class="carousel-item">
        <div class="col-md-4 mb-2">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
               <%=image_tag("wsecoseries.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Microfonos de Diadema</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">WS Eco Series</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Con sets completos y componentes individuales, la serie ECO es ideal para los que se inician en la transmisión de señales inalámbrica. Los económicos sistemas Diversity UHF se caracterizan por su altísima estabilidad de frecuencia gracias a la tecnología PLL, la supresión de ruido y las salidas tanto balanceadas como no balanceadas. Los sistemas inalámbricos ECO de LD Systems transmiten en frecuencias fijas preconfiguradas y convencen con su sonido profesional, su uso superfácil y la conexión sumamente rápida y sin problemas.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("ldva8.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Titulo</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Nombre</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis, illum quisquam eius accusantium a itaque cupiditate, fugit voluptatibus dolore saepe voluptates mollitia ut iusto dolorum sapiente. Beatae ipsum fugiat, suscipit ipsam dolor assumenda et illum officia, dolorem dolores magnam vel quis necessitatibus perspiciatis minima laboriosam molestias neque velit vero. Magni fuga mollitia voluptatem nostrum sit soluta doloremque omnis a officia sed maiores voluptate natus quaerat culpa illum alias pariatur, odio sint aperiam impedit temporibus, repellendus corporis molestias. Cumque, illo.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("ldarray.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Titulo</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Nombre</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti debitis molestias ex tenetur dolore rem tempore commodi. Harum ratione fuga ea asperiores cupiditate quod aspernatur consequatur, veniam enim dolorum voluptate sint sit incidunt quaerat expedita, debitis distinctio est error, delectus sapiente odit? Eligendi impedit dolores totam nulla, excepturi a tempore quasi soluta obcaecati quas illo ipsa iste beatae magnam quod tenetur ad doloribus delectus. Optio quam nisi error porro ipsum, enim distinctio quis nemo cum. Sit libero provident, vero magni?
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      </div>
      <!--Third slide -->
    </div>
    <!-- Slides -->
  </div>
  <!-- Carousel Wrapper -->
</div>
</section>
<!-- Section: Products v.5 -->
