<div class="container section-header">
  <h2 class="h1"> Productos Destacados </h2>
  <hr>

  <!-- Carousel Wrapper -->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!-- Controls -->
    <div class="controls-top" class="sidebuttons" style="position: relative; left: 90%; size: 3em;">
      <a class="btn-floating waves-effect waves-light" href="#multi-item-example" data-slide="prev">
        <i class="fas fa-chevron-left fa-3x"></i>
      </a>
      <a class="btn-floating waves-effect waves-light" href="#multi-item-example" data-slide="next">
        <i class="fas fa-chevron-right fa-3x"></i>
      </a>
    </div>
    <!-- Controls -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="primary-color active" data-target="#multi-item-example" data-slide-to="0"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!-- Indicators -->

    <!-- Slides -->
    <div class="carousel-inner" role="listbox">
      <!-- First slide -->
      <div class="carousel-item active">
        <div class="col-md-4 mb-2">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("satg2series.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Altavoces</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">SAT G2 SERIES</a>
                </strong>
              </h4>
              <!-- Description -->

              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("maui5.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Sistema Ultra Compacto Activo</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Maui5</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("wsecoseries.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Microfonos de Diadema</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">WS Eco Series</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      </div>
      <!-- First slide -->
      <!-- Second slide -->
      <div class="carousel-item">
        <div class="col-md-4 mb-2">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("vibzseries.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Mesas de Mezcla</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Vibz Series</a>
                </strong>
              </h4>
              <!-- Description -->

              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("u500series.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Microfonia Corporativa</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">U 500 Series</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("maui44.png", width: "338", height:"226")%>

              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Sistemas Activos Columna</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Maui44</a>
                </strong>
              </h4>
              <!-- Description -->

              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      </div>
      <!-- Second slide -->
      <!--Third slide -->
      <div class="carousel-item">
        <div class="col-md-4 mb-2">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("maui1128.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Sistemas Compacto Columna Activos</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Maui 11 G2 & 28 G2</a>
                </strong>
              </h4>
              <!-- Description -->

              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("ldva8.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Sistemas Touring</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">LD VA8 Array Series</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <%=image_tag("ldarray.png", width: "338", height:"226")%>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Soluciones Corporativas</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Microfono</a>
                </strong>
              </h4>
              <!-- Description -->
              <!-- Card footer -->
              <div class="card-footer px-1">
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci.
              </p>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      </div>
      <!--Third slide -->
    </div>
    <!-- Slides -->
  </div>
  <!-- Carousel Wrapper -->
</div>
</section>
<!-- Section: Products v.5 -->
