<div class="col-sm-12 col-lg-2 side-filter" style="margin-top:120px;">

<h4>Buscar</h4>
<br>
<%#= form_tag items_path, :method => 'get' do %>
<%#= text_field_tag :search, params[:search], class: "texto-filtro" %>
<%# end %>

<%= simple_form_for (Search.new) do |f| %>
<%= f.input :marca, :collection => %W[Sonos #{"LD Systems"} Polk #{"Bose Professional"} #{"Elite Screen"} Sennheiser Onkyo #{"Adam Hall"} Gravity Shure Soundcraft #{"OSD Audio"} #{"Harman/Kardon"} QSC JBL Crown TEAC AKG #{"Santa Clara"}], as: :radio_buttons, :label => "Marca"  %>
<%= f.input :categoria, :collection => %W[#{"Altavoces de instalacion"} Monitores #{"Sistemas completos de PA"} Subwoofers #{"Amplificadores y processadores de senal"} #{"Mesas de Mezcla"} Microfonos #{"Audifonos & Monitoreo In Air"} #{"Sistemas Touring"} #{"Cabezas Moviles"} #{"Iluminacion LED"} Lasers #{"Maquinas de Humo"} #{"Cables & Conectores"} #{"Soporte & Pedestales"} #{"Soporte Pedestales"} #{"Monitores & Pizarra interactivas"} Proyectores Telones Cables Soporte Pedestales Racks], as: :radio_buttons, :label => "Categoria" %>
<%= f.input :min_price, :label => "Precio Minimo", input_html: { min: '0', step: 'any' } %>
<%= f.input :max_price, :label => "Precio Maximo", input_html: { min: '0', step: 'any' } %>
<%= f.input :color, :collection => %W[Blanco Negro #{"Blanco & Negro"}], as: :radio_buttons %>
<%= f.button :submit, 'Buscar', class: 'btn-block' %>
<% end %>


</div>


<%#= simple_form_for (Search.new) do |f| %>
<%#= f.select :marca, %W[MARCA Sonos #{"LD Systems"} Polk #{"Bose Professional"} #{"Elite Screen"} Sennheiser Onkyo #{"Adam Hall"} Gravity Shure Soundcraft #{"OSD Audio"} #{"Harman/Kardon"} QSC JBL Crown TEAC AKG #{"Santa Clara"}], :label => "Marca" %>
<%#= f.select :categoria,  %W[CATEGORIA #{"Altavoces de instalacion"} Monitores #{"Sistemas completos de PA"} Subwoofers #{"Amplificadores y processadores de senal"} #{"Mesas de Mezcla"} Microfonos #{"Audifonos & Monitoreo In Air"} #{"Sistemas Touring"} #{"Cabezas Moviles"} #{"Iluminacion LED"} Lasers #{"Maquinas de Humo"} #{"Cables & Conectores"} #{"Soporte & Pedestales"} #{"Altavoces de instalacion"} #{"Sistemas completos de PA"} #{"Soporte Pedestales"} #{"Monitores & Pizarra interactivas"} Proyectores Telones #{"Monitores & Pizarra interactivas"} Proyectores Telones Cables Soporte Pedestales Racks] %>
<%#= f.input :min_price, :label => "Precio Minimo", input_html: { min: '0', step: 'any' } %>
<%#= f.input :max_price, :label => "Precio Maximo", input_html: { min: '0', step: 'any' } %>
<%#= f.select :color, %W[COLOR Blanco Negro #{"Blanco & Negro"}], as: :radio_buttons %>
<%#= f.button :submit, 'Buscar', class: 'btn-block' %>
<%# end %>
