<div style="background-color: #ddd; height: 35vh;">
  <%= form_tag items_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], class: "texto-filtro" %>
  <% end %>
</div>
<%= render 'shared/banner' %>
<%= render 'shared/info' %>




<div class=" container section-header">
  <h2 class="h1"> Top Rated</h2>
</div>
<%= render 'shared/features' %>

<div class=" container section-header">
  <h2 class="h1"> Nuestras Marcas</h2>
</div>
<%= render 'shared/brands' %>

<div class=" container section-header">
  <h2 class="h1"> Featured Products</h2>
</div>
<%= render 'shared/moredetails' %>


<%= render 'shared/paralax2' %>

<%= render 'shared/footer' %>
