<script>
var search = document.getElementById("search");
var field = document.getElementById("field");
var icon = document.getElementById("icon");

function clicked() {
 search.classList.add("open");
 field.setAttribute("placeholder", "zB: Bananen");
 icon.setAttribute("src", "https://cdn4.iconfinder.com/data/icons/geomicons/32/672366-x-128.png");
 icon.setAttribute("onclick", "normal()");

}
function normal() {
  search.classList.remove("open");
  field.removeAttribute("placeholder");
  icon.setAttribute("src", "http://www.brambauer.de/img/search.png");
  icon.setAttribute("onclick", "clicked()");
}
</script>


<!--
<div class="container" style="margin-top: 15%">
<div class="wrap" >
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Buscar">
      <button type="submit" class="searchButton">
        <i class="fas fa-search fa-2x"></i>
     </button>
   </div>
</div>
</div> -->



<%= render 'shared/banner' %>
<%= render 'shared/info' %>




<div class=" container section-header">
  <h2 class="h1"> Top Rated</h2>
</div>
<%= render 'shared/features' %>

<div class=" container section-header">
  <h2 class="h1"> Nuestras Marcas</h2>
</div>
<%= render 'shared/brands' %>

<div class=" container section-header">
  <h2 class="h1"> Featured Products</h2>
</div>
<%= render 'shared/moredetails' %>


<%= render 'shared/paralax2' %>

<%= render 'shared/footer' %>
