
<div class="col-sm-12 col-lg-2 side-filter" style="margin-top:120px;">

<h4>Buscar</h4>
<br>
<%#= form_tag items_path, :method => 'get' do %>
<%#= text_field_tag :search, params[:search], class: "texto-filtro" %>
<%# end %>

<%= simple_form_for (Search.new) do |f| %>
<%= f.select :marca, :collection => %W[MARCA Sonos #{"LD Systems"} Polk #{"Bose Professional"} #{"Elite Screen"} Sennheiser Onkyo #{"Adam Hall"} Gravity Shure Soundcraft #{"OSD Audio"} #{"Harman/Kardon"} QSC JBL Crown TEAC AKG #{"Santa Clara"}], :label => "Marca"  %>
<%= f.select :categoria, :collection => %W[CATEGORIA #{"Altavoces de instalacion"} Monitores #{"Sistemas completos de PA"} Subwoofers #{"Amplificadores y processadores de senal"} #{"Mesas de Mezcla"} Microfonos #{"Audifonos & Monitoreo In Air"} #{"Sistemas Touring"} #{"Cabezas Moviles"} #{"Iluminacion LED"} Lasers #{"Maquinas de Humo"} #{"Cables & Conectores"} #{"Soporte & Pedestales"} #{"Soporte Pedestales"} #{"Monitores & Pizarra interactivas"} Proyectores Telones Cables Soporte Pedestales Racks], :label => "Categoria" %>
<%= f.input :min_price, :label => "Precio Minimo", input_html: { min: '0', step: 'any' } %>
<%= f.input :max_price, :label => "Precio Maximo", input_html: { min: '0', step: 'any' } %>
<%= f.select :color, :collection => %W[COLOR Blanco Negro #{"Blanco & Negro"}] %>
<%= f.button :submit, 'Buscar', class: 'btn-block' %>
<% end %>


</div>

<div class=" page-wrapper mt-5" >
  <div class="page-inner results">
    <h1>Resultados de Busqueda</h1>
      <%= link_to 'Ver Todo', items_path %>
  <% if @search.search_items.empty? %>
  <p>No encontrado</p>
  <p><%= link_to 'Atras',items_path %></p>

  <% else %>
    <div class="row">
      <% @search.search_items.each do |item| %>
      <%= link_to item_path(item[:id]) do %>
      <div class="el-wrapper col-xs-6 col-sm-6 col-md-6 col-lg-3" style="border: 1px solid #D8D8D8;">
        <div class="box-up">
          <%= cl_image_tag item.photo, class: "picture-client", id: 'zoom_01' %>
          <!-- <img class="img" src="http://code.slicecrowd.com/labs/4/images/t-shirt.png" alt=""> -->
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name"><%= link_to item.nombre, item_path(item[:id]) %></span>
              <span class="p-company"><%= item.marca %></span>
            </div>
            <div class="a-size"><%= item.features %></div>
          </div>
        </div>
        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="#">
            <span class="price">$ <%= item.precio %>0</span>
            <span class="add-to-cart">
              <span class="txt"> <% link_to item_path(item[:id]) %> MAS INFO</span>
            </span>
          </a>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

